In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train=pd.read_csv('train.csv')
train.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [3]:
r,c=train.shape

In [4]:
for i in range(r):
    if train.iloc[i,3] == 'male':
        train.iloc[i,3]=1
    elif train.iloc[i,3] == 'female':
        train.iloc[i,3]=0

In [5]:
y_train=np.zeros((r,1))
x_train=np.zeros((r,6))
costs=[]

In [6]:
for i in range(r):
    y_train[i][0]=train.iloc[i,0]
for i in range(r):
    k=0
    for j in range(1,8):
        if j==2:
            continue
        x_train[i][k]=train.iloc[i,j]
        k=k+1

In [7]:
def sigmoid(z):
    sig=1/(1+np.exp(-z))
    return sig

In [8]:
def cost_fn(w,b,x,y,data):
    j=0
    for i in range(len(data)):
        z=np.dot(w,x[i])+b
        sig=sigmoid(z)
        j=j+((y[i]*np.log(sig))+((1-y[i])*np.log(1-sig)))
    
    j=-j/len(data)
    return j

In [9]:
def grad_descent(w,b,l,x,y,data):
    dj_dw=np.zeros(6)
    dj_db=0
    for i in range(6):
        for j in range(len(data)):
            z=np.dot(w,x[j])+b
            sig=sigmoid(z)
            dj_dw[i]+=(sig-y[j])*x[j][i]
            
    for i in range(len(data)):
            z=np.dot(w,x[i])+b
            sig=sigmoid(z)
            dj_db+=(sig-y[i][0])
    
    dj_dw=dj_dw*l*(1/len(data))
    dj_db=dj_db*l*(1/len(data))
    
    w = w - dj_dw
    b=b - dj_db
    
    return w,b

In [10]:
w_vec=np.zeros(6)
b=0
l=0.005
epochs=20000
costs=[]

In [11]:
for i in range(epochs):
    w_vec,b=grad_descent(w_vec,b,l,x_train,y_train,train)
    j=cost_fn(w_vec,b,x_train,y_train,train)
    costs.append(j)

In [12]:
print(w_vec)
print(b)

[-1.53614371e-01 -2.54998074e+00 -2.57802280e-03 -4.06758905e-01
  1.05051202e-03  2.77885909e-02]
1.43567027677422

In [13]:
test=pd.read_csv('test.csv')
test.shape

(310, 8)

In [14]:
for i in range(310):
    if test.iloc[i,3] == 'male':
        test.iloc[i,3]=1
    elif test.iloc[i,3] == 'female':
        test.iloc[i,3]=0

In [15]:
y_test=np.zeros((310))
x_test=np.zeros((310,6))

In [16]:
for i in range(310):
    y_test[i]=test.iloc[i,0]
for i in range(310):
    k=0
    for j in range(1,8):
        if j==2:
            continue
        x_test[i][k]=test.iloc[i,j]
        k=k+1

In [17]:
y_predict=np.zeros(len(x_test))
for i in  range(len(x_test)):        
    z=np.dot(w_vec,x_test[i])+b
    sig=sigmoid(z)
    if sig>=0.5:
        y_predict[i]=1
    else:
        y_predict[i]=0

sum(y_test==y_predict)

245

In [18]:
accuracy=(sum(y_test==y_predict)/len(test))*100
print(accuracy)

79.03225806451613